.container {
    padding-top: 12%;
    min-height: 100vh;
    min-width: 100vw;
    background: #0d2a618e;
    margin: 0 -1rem;
}

.example-card {
    max-width: 500px;
    margin: auto;
}

mat-card-content {
    padding-top: 20px;
}

.example-header-image mat-card-avatar {
    width: 15px;
    height: 15px;
}

