<section>
    <nav>
        <div class="logo">
            <h3>Proyecto Final</h3>
        </div>
        <ul>
            <li>
                <a routerLink="app/home">
                    Inicio
                </a>
            </li>
            <li>
                <a routerLink="app/about">
                    Sobre el proyecto
                </a>
            </li>
            <li>
                <a routerLink="sessions/login">
                    Iniciar Sesión
                </a>
            </li>
        </ul>
    </nav>
</section>