<div class="hero-image">
    <div class="hero-text">
        <h1>SOBRE EL PROYECTO</h1>
        <h1 style="font-size: 2em;">Administración de Alumnos y Cursos</h1>
        <br>
        <p>
            Creación de un proyecto frontend basado en Angular para gestionar alumnos y cursos.<br>

            Perfil de administrador: Lista y realiza alta, baja y modificación de alumnos, cursos, usuarios e inscripciones.<br>

            Perfil de alumno: Lista alumnos y cursos, y realiza inscripciones y bajas del alumno a los cursos.
        </p>
        <br>
        <p>
            Academia: CODERHOUSE <br>
            Curso: Angular <br>
            Profesores: Geovanni Sanchez, Josué Baez <br>
            Comisión 32330 <br>
            Tutor: Andres Camilo Cardona Londono <br>
        </p>
    </div>
</div>